{% extends "base.html" %}
{% import "comment_tree.html" as comments_ui %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
{% include "article_card.html" %}

<div class="markdown-body">{{ article.content_markdown | markdown }}</div>

{% if current_user and current_user.id != article.author_id %}
  <section class="votes">
    <form method="post" action="/articles/{{ article.id }}/vote">
      <button class="vote-btn {% if user_vote == 1 %}active-like{% endif %}" type="submit" name="vote" value="like">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20" class="size-5">
          <path d="M1 8.25a1.25 1.25 0 1 1 2.5 0v7.5a1.25 1.25 0 1 1-2.5 0v-7.5ZM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0 1 14 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 0 1-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 0 1-1.341-.317l-2.734-1.366A3 3 0 0 0 6.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 0 1 2.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388Z" />
        </svg>
      </button>
      <button class="vote-btn {% if user_vote == -1 %}active-dislike{% endif %}" type="submit" name="vote" value="dislike">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" height="20" class="size-5">
          <path d="M18.905 12.75a1.25 1.25 0 1 1-2.5 0v-7.5a1.25 1.25 0 0 1 2.5 0v7.5ZM8.905 17v1.3c0 .268-.14.526-.395.607A2 2 0 0 1 5.905 17c0-.995.182-1.948.514-2.826.204-.54-.166-1.174-.744-1.174h-2.52c-1.243 0-2.261-1.01-2.146-2.247.193-2.08.651-4.082 1.341-5.974C2.752 3.678 3.833 3 5.005 3h3.192a3 3 0 0 1 1.341.317l2.734 1.366A3 3 0 0 0 13.613 5h1.292v7h-.963c-.685 0-1.258.482-1.612 1.068a4.01 4.01 0 0 1-2.166 1.73c-.432.143-.853.386-1.011.814-.16.432-.248.9-.248 1.388Z" />
        </svg>
      </button>
    </form>
  </section>
{% endif %}

<section id="comments">
  {% if current_user %}
    <form method="post" action="/articles/{{ article.id }}/comments" class="form-grid">
      <label>
        Comment (Markdown)
        <textarea name="content_markdown" rows="4" required></textarea>
      </label>
      <button type="submit">Add Comment</button>
    </form>
  {% else %}
    <p>Please <a href="/login?next=/articles/{{ article.id }}">login</a> to comment.</p>
  {% endif %}

  <div class="children">
    {{ comments_ui.render_comments(article.id, comments, current_user) }}
  </div>
</section>
{% endblock %}
